<div class="conntainer">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Mensaje de Bienvenida
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bienvenido a la plataforma Nova Health</h5>
                    <p class="card-text">¿Quieres saber cómo funciona nuestra plataforma?.</p>
                    <a href="#" class="btn btn-primary">Adelante!</a>
                </div>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>