.carousel-control-prev,
.carousel-control-next {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0);
}

.carousel-inner {
    position: relative; 
    height: 70vh; 
}

.carousel-caption {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 40%;
    height: 77%; 
    overflow: auto; 
}

.carousel-item img {
    max-width: 100%;
    height: auto; 
}

.card-body {
    padding: 0;
    width: 100%;
}

.login-container {
    position: absolute;
    top: 41vh;
    right: 3vw; 
    width: 20vw;  
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    align-items: center; 
    height: 47vh;
    border-radius: 15px;
}

.login-image {
    position: absolute;
    right: 20vw;
    top: 34vh;
    display: flex;
    width: 20vw;
    z-index: 5;
}

