.carousel-control-prev,
.carousel-control-next {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.267));
    background-color: rgba(0, 0, 0, 0.297);
}

.carousel-item img {
    width: 100%;
    height: 400px;
}
