<div class="proporcion-birads-form-container">
    <div class="proporcion-birads-form-card">
        <h2 class="proporcion-birads-form-title">Proporción BIRADS</h2>
        <form style="  padding: 0 32px 32px 32px;">
            <div class="proporcion-birads-form-grid">
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 0</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 1</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 2</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 3</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 4A</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 4B</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 4C</label>
                    <input type="number" min="0" />
                </div>
                <div class="proporcion-birads-form-group">
                    <label>N° estudios BIRADS 5</label>
                    <input type="number" min="0" />
                </div>
            </div>
            <button type="submit" class="proporcion-birads-form-submit">Enviar</button>
        </form>
    </div>
</div>