<div class="section">
    <div class="card-container">
        <div class="card card-users">
            <img src="assets/icons/dashboard/icon-user-male.svg" alt="Users" class="card-icon" />
            <div class="card-title">Usuarios</div>
            <div class="card-value">10</div>
        </div>
        <div class="card card-instituciones">
            <img src="assets/icons/dashboard/icon-briefcase.svg" alt="Clients" class="card-icon" />
            <div class="card-title">Instituciones</div>
            <div class="card-value">5</div>
        </div>
        <div class="card card-phantoms1">
            <img src="assets/icons/dashboard/icon-mailbox.svg" alt="Projects" class="card-icon" />
            <div class="card-title">Mamógrafos</div>
            <div class="card-value">20</div>
        </div>
        <div class="card card-reportes">
            <img src="assets/icons/dashboard/icon-favorites.svg" alt="Events" class="card-icon" />
            <div class="card-title">Reportes</div>
            <div class="card-value">20</div>
        </div>
        <div class="card card-phantoms2">
            <img src="assets/icons/dashboard/icon-connect.svg" alt="Reports" class="card-icon" />
            <div class="card-title">Phantoms</div>
            <div class="card-value">10</div>
        </div>
    </div>
    <div class="dashboard-charts-row">
        <div class="card-container mt-5 dashboard-chart-line">
            <div class="dashboard-chart-inner">
                <canvas id="dashboardLineChart"></canvas>
            </div>
        </div>
        <div class="card-container mt-5 dashboard-chart-pie">
            <div class="dashboard-chart-inner">
                <canvas id="dashboardPieChart"></canvas>
            </div>
        </div>
    </div>
</div>