:host {
    display: block;
}

.section{
    min-height: 100vh;
    margin-left: 351px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 47px;
    overflow-y: auto;
}

.background-black {
    border: 1px solid rgb(255 255 255 / 8%);
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.title, .description {
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px; /* Espacio horizontal entre botones */
    row-gap: 50px;
    justify-items: center !important; 
    align-items: center !important;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: #4D7F9D;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.button-item:hover {
    background: #80ADC7 ;
    transform: rotateY(180deg);
}

.button-item:hover i {
    transform: scale(2);
}

.button-item:hover span {
    opacity: 0;
    transition: opacity 0.3s; 
}

.button-item i {
    font-size: 3em;
    margin-bottom: 10px;
    transition: transform 0.6s;
}

.button-item span {
    font-size: 1em;
    transition: opacity 0.3s; 
}

.button-item a {
    color: inherit;
    text-decoration: none; 
}

@media (max-width: 1100px) {
  .section {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }
  .button-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .section {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }
  .button-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 700px) {
  .section {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    height: auto;
  }
  .button-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .button-item {
    width: 100%;
    max-width: 300px;
    height: 100px;
  }
}