
<div class="row">
    <div class="tittle col-12">
        <h2 class="text-white text-tittle1">Acerca de <b>nosotros</b></h2>
        <h1 class="text-tittle2">Laboratorio de <b>coocreación INC</b></h1>
    </div>
</div>
<div class="resume">
    <div class="row mt-5">
        <div class="col-6 animate-left">
            <h2 class="text-center">Misión</h2>
            <p class="content">
                La misión del proyecto es medir y evaluar las capacidades de innovación del INC, estructurar el Laboratorio de Cocreación 
                como centro de I+D, dirigido hacia la innovación, y crear una cultura organizacional centrada en la Ciencia, Tecnología e Innovación.
                Esto implica fomentar la colaboración, la creatividad y la experimentación dentro de la institución, así como promover la transferencia 
                de conocimiento y la formación de un equipo multidisciplinario comprometido con la innovación en el sector de la salud.En resumen,
                la misión es establecer un sistema de gestión de la innovación que potencie el desarrollo institucional y mejore la competitividad 
                del INC a través de la creación de un Laboratorio de Cocreación como centro de I+D y la promoción de una cultura organizacional enfocada en la innovación
            </p>
        </div>
        <div class="col-6 animate-right">
            <h2 class="text-center">Visión</h2>
            <p class="content">
                La visión del proyecto de implementación del Laboratorio de Cocreación para la Innovación en el Instituto Nacional de Cancerología ESE
                es crear un sistema de gestión de la innovación que contribuya al desarrollo institucional y al mejoramiento de la competitividad del INC.
            </p>
            <p class="content" style="margin-top: 31px;">    
                Esto implica establecer un entorno propicio para la generación de soluciones innovadoras que aborden los desafíos organizacionales y promuevan
                la excelencia en la atención de la salud a través de la implementación de tecnologías y procesos innovadores.
            </p>
        </div>
    </div>
</div>
<div class="text-center mt-5 mb-5">
    <a href="https://www.cancer.gov.co/centro-investigacion/gestion-innovacion" class="gestion-button fade-in" target="_blank">Gestión de la Innovación INC</a>
</div>

