<div class="container mt-5">
  <div class="row">
    <div class="col-12 my-5">
      <button type="button" class="btn btn-success" (click)="onAddUser()">Crear Usuario</button>
    </div>
    <div class="col-12">
      <!-- <h2>Tabla de Usuarios</h2> -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Número de Teléfono</th>
            <th>Fecha Creación</th>
            <th>Activo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.numberphone }}</td>
            <td>{{ user.creationdate }}</td>
            <td>
              <div class="form-check form-switch">
                <!--<input class="form-check-input" type="checkbox" [(ngModel)]="user.isactive" (change)="toggleActivation(user)"> -->
              </div>
            </td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editUser(user.id)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
