<div class="section mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Institución</h3>
    </div>
    <div class="card-body">
      <form #institucionForm="ngForm" (ngSubmit)="onSubmit(institucionForm)">
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre de la Institución:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" ngModel required>
          </div>
          <div class="form-group col-md-6">
            <label for="caracter_juridico">Carácter Jurídico:</label>
            <input type="text" id="caracter_juridico" name="caracter_juridico" class="form-control" ngModel required>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="nombre_ips">Nombre de la IPS:</label>
            <input type="text" id="nombre_ips" name="nombre_ips" class="form-control" ngModel required>
          </div>
          <div class="form-group col-md-6">
            <label for="codigo_ips">Código de la IPS:</label>
            <input type="text" id="codigo_ips" name="codigo_ips" class="form-control" ngModel required>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" class="form-control" ngModel required>
          </div>
          <div class="form-group col-md-6">
            <label for="zona">Zona:</label>
            <select id="zona" name="zona" class="form-control" ngModel required>
              <option value="urbana">Urbana</option>
              <option value="rural">Rural</option>
            </select>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="latitud">Latitud:</label>
            <input type="text" id="latitud" name="latitud" class="form-control" [(ngModel)]="center.lat" readonly>
          </div>
          <div class="form-group col-md-6">
            <label for="longitud">Longitud:</label>
            <input type="text" id="longitud" name="longitud" class="form-control" [(ngModel)]="center.lng" readonly>
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="ubicacion">Ubicación:</label>
          <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="mapClicked($event)">
            <map-marker [position]="center" [options]="markerOptions" (mapDragEnd)="markerDragEnd($event)"></map-marker>
          </google-map>
        </div>
        <div class="form-group mb-4">
          <label for="tipo_servicio">Tipo de Servicio:</label>
          <div class="btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-outline-primary mr-5" [class.active]="checkbox.selected" *ngFor="let checkbox of serviceTypeBoxes; let i = index" (click)="toggleSelection(i)">
              <input type="checkbox" [checked]="checkbox.selected" (change)="toggleSelection(i)"> {{ checkbox.name }}
            </label>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="telefono_gerencia">Teléfono de Gerencia:</label>
            <input type="number" id="telefono_gerencia" name="telefono_gerencia" class="form-control" ngModel required>
          </div>
          <div class="form-group col-md-6">
            <label for="telefono_enlace_tecnico">Teléfono Enlace Técnico:</label>
            <input type="number" id="telefono_enlace_tecnico" name="telefono_enlace_tecnico" class="form-control" ngModel required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Institución</button>
      </form>
    </div>
  </div>
</div>