.section {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 347px;
}

.w-70 {
    width: 50%;
}

.mr-5 {
    margin-right: 10px;
}

.card-header {
    background: #ffc0cb;
    border: none;
    padding: 10;
    margin-bottom: 20px;
    color: white;
}

.btn-group-toggle .btn input[type="checkbox"] {
    display: none;
}

.btn-group-toggle .btn.active {
    background-color: green;
    border-color: green;
    color: white;
}

.button-container {
    display: flex;
    gap: 10px;
}

.checkbox-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.checkbox-btn.selected {
    background-color: green;
    color: white;
    border-color: green;
}
  