<aside class="sidebar">
  <div class="sidebar-header">
    <div class="profile-img">
      <img src="../../../assets/icons/avatars/medical-staff-characters/png-1024/doctor-2087835.png" alt="Avatar" />
    </div>
    <div class="profile-text">
      <span>{{ userName }}</span>
    </div>
  </div>

  <div class="sidebar-section-title">HOME</div>
  <ul class="sidebar-nav">
    <li *ngFor="let item of navItems">
      <a [routerLink]="item.route">
        <div class="nav-content">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="sidebar-section-title">APPS</div>
  <ul class="sidebar-nav">
    <li *ngFor="let item of appItems">
      <a [routerLink]="item.route">
        <div class="nav-content">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </div>
      </a>
    </li>
  </ul>
  <app-mamography></app-mamography>
  <div class="navbar-footer-img">
    <img src="../../../assets/img/logo-inc.svg" alt="Footer Logo" />
    
  </div>
</aside>