:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, html {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: 0;
  background-color: #f0f5f9;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; 
  margin-top: 155px;
}

.footer {
  background-color: #68b9ae;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}