<app-header class="fixed-header" *ngIf="!loginService.isAuthenticated()"></app-header>
<app-header-login class="fixed-header" *ngIf="loginService.isAuthenticated()"></app-header-login>
<div class="main-container">
  <app-navbar *ngIf="loginService.isAuthenticated()" class="navbar"></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer class="footer" *ngIf="!loginService.isAuthenticated()"></app-footer>
<app-footer-login class="footer" *ngIf="loginService.isAuthenticated()"></app-footer-login>