:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, html {
  height: 100%;
  margin: 0;
}

.navbar{
  display: block;
  /* TODO: Cambiar a fixed y distribuir el contenido de la página */
  position: fixed;
}

.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #f0f5f9;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; 
  margin-top: 100px;
  padding-left: 347px;
}

.footer {
  background-color: #68b9ae;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}