<div class="gestion-calidad">
    <div>
        <h1>Gestión Calidad</h1>
        <p>Seleccione una opción del menú para ver los resultados de calidad.</p>
    </div>
    <div class="menu mt-5">
        <div class="menu-button" data-number="1" routerLink="/tamizacion-mama/dashboard-calidad/01-calidad-phantom/">Calidad Phantom</div>
        <div class="menu-button" data-number="2">Calidad de Imagen</div>
        <div class="menu-button" data-number="3">Doble Lectura</div>
        <div class="menu-button" data-number="4">Nivel de Referencia</div>
        <div class="menu-button" data-number="5">Índice de Rechazo</div>
        <div class="menu-button" data-number="6">Control de Calidad Unidad</div>
        <div class="menu-button" data-number="7">Proporción BIRADS</div>
        <div class="menu-button" data-number="8">Número Biopsias Res. Positivas</div>
        <div class="menu-button" data-number="9">Rellenado</div>
        <div class="menu-button" data-number="10">Hoja Radar</div>
    </div>
</div>