:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-develop-animation {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}
