/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

.fc-header-toolbar{
    background-color: #00b198 !important;
    /* margin-bottom: 10px !important; */
    padding: 10px !important;
    border-radius: 5px;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.fc-scroller-liquid-absolute {
    
}

.fc-scroller-liquid-absolute::-webkit-scrollbar {
    width: 10px !important;
}


.fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important; 
    border-radius: 10px !important;
}

.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    background: rgba(80, 194, 179, 0.5) !important;
    border-radius: 10px !important;
}

.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb:hover {
    background: #00828e !important; 
}



.fc-toolbar-title {
    color: #FFFFFF !important;
}

.fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0 !important;
}

.fc-timeGridDay-button {
    margin-right: 20px !important;
}

.fc-prev-button {
    margin-left: 20px !important;
}

.fc-col-header-cell {
    background-color: #00828e !important;
    color: #FFFFFF !important;
}

.fc-col-header-cell a {
    color: #FFFFFF !important;
    font-size: 20px !important;
    
}

.fc-scrollgrid-sync-inner a {
    text-decoration: none !important;
}

.fc-daygrid-day-top a {
    color: black !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.fc-theme-standard td {
    background-color: #f2f3f4 !important;
    border: 2px solid #FFFFFF !important;
    align-items: center !important;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.file-list li {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.file-list li:last-child {
  border-bottom: none;
}