<nav class="header-top navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar-container" style="display: flex; justify-content: space-between; width: 100%;">
    <div class="navbar-cocreamos">
      <a style="cursor: pointer" title="NOVA" href="/index">
        <img src="/assets/img/logo-cocreamos.svg" width="370" height="100" alt="Cocreamos">
      </a>
    </div>
    <div class="navbar-inc">
      <a style="cursor: pointer" title="NOVA" href="https://www.cancer.gov.co/">
        <img src="/assets/img/logo-inc.svg" width="400" height="100" alt="Instituto Nacional de Cancerología">
      </a>
    </div>
  </div>

  <div *ngIf="false" class="login">
    <button type="button" class="btn btn-primary">
      Kperez <span class="badge badge-light">9</span>
      <span class="sr-only">unread messages</span>
    </button>
  </div>
</nav>
<div class="header-menu justify-content-center" id="navbarNav" >
  <ul>
    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/index">Inicio</a>
      </li>
    </div>
    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/nosotros">Acerca de nosotros</a>
      </li>
    </div>
    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/index">Información de interés</a>
      </li>
    </div>
    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/index">Contáctenos</a>
      </li>
    </div>
    <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/index">Proyectos de innovación</a>
      </li>
    </div>
    <!-- <div class="nav-item-container">
      <li class="nav-item">
        <a class="nav-link" href="/users">Usuarios</a>
      </li>
    </div> -->
  </ul>
</div>