.custom-label {
    border-bottom: 2px solid rgb(48, 2, 108);
    display: inline-block;
    width: 150px;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  background-color: #fff;
  background-size: 16px 16px;
  padding-right: 30px;
}